<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>ajax-in-action</display-name>
 <servlet>
  <servlet-name>PostingXMLExample</servlet-name>
  <servlet-class>cn.lhfei.ajax.servlet.PostingXMLExample</servlet-class>
 </servlet>
 <servlet>
  <display-name>GetAndPostExample</display-name>
  <servlet-name>GetAndPostExample</servlet-name>
  <servlet-class>cn.lhfei.ajax.servlet.GetAndPostExample</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>PostingXMLExample</servlet-name>
  <url-pattern>/PostingXMLExample</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetAndPostExample</servlet-name>
  <url-pattern>/GetAndPostExample</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>/index.html</welcome-file>
 </welcome-file-list>
</web-app>
